* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 15px;
  height: 100vh;
  width: 100vw;
  display: grid;
  gap: 5px;
  background-color: rgb(49, 94, 255);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 100px);
  /* grid-template-rows: repeat(4,100px); */
  justify-items: end;
  /* align-items: center; */
}
.item {
  height: 50px;
  width: 50px;
  background-color: chartreuse;
  border: solid black 2px;
  /* justify-self: end; */
  /* align-self:  ; */
  /* place-self: start; */
}

/* .item.a{
        justify-self: end;
    } */
