* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 1rem;
  height: 100vh;
  width: 100vw;
  display: grid;
  background-color: rgb(255, 255, 77);
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.header,
.footer {
  grid-column-start: 1;
  grid-column-end: 4;
}
.sidebar {
  grid-row-start: 2;
  grid-row-end: 4;
}

.content1 {
  grid-column-start: 2;
  grid-column-end: 4;
}
.item {
  color: white;
  background-color: blue;
  border: solid black 3px;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
}
