* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .container {
    background-color: #8bc6ec;
    background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  .box {
    background-color: rgb(255, 255, 255);

    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 1px 4px 10px rgb(0, 0, 0);
  }
  .box h3 {
    align-self: center;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 0.7rem;
  }
  #icon {
    height: 100px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  #music {
    width: 30px;
    height: 30px;
    align-self: center;
  }
  .subscription {
    display: flex;
    justify-content: space-around;
    /* gap: 40px; */
    background-color: rgb(202, 252, 255);
    width: 100%;
    min-height: 30px;
    border-radius: 5px;
  }
  .annual {
    display: flex;
    gap: 10px;
  }
  .aplan {
    display: flex;
    flex-direction: column;
  }
  .payment {
    display: flex;
    width: 100%;
    background-color: rgb(22, 22, 79);
    border-radius: 5px;
    min-height: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 15px rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
  }
  .payment:hover {
    transform: scale(1.05);
  }
  .lower {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    justify-content: center;
  }
  .ref {
    align-self: center;
  }
  .payment p a {
    text-decoration: none;
    color: whitesmoke;
  }
  .cancel p a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  @media (max-width:210px) {
    .subscription{
      padding: 5px;
      flex-direction: column;
      justify-content: center;
    }
    .annual{
      justify-content: center;
    }
  }